# Python
__pycache__/
*.pyc
.venv/
venv/

# Video / Audio
*.mp4
*.mov
*.avi
*.wav
*.mp3

# Images
*.png
*.jpg
*.jpeg
*.webp

# Fonts
*.ttf
*.otf

# Output / cache
output/
render/
preview/
cache/

# IDE
.vscode/
